*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
.all{
    background-color: #f0f2f5;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100%;
}
.gioithieu{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    height: 800px;
    padding-right: 100px;
}
h2{
    margin-top: -10px;
    margin-left: 30px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}    
.form{
    /* padding-left: 70px; */
    padding-top: 100px;
    width: 380px;
    height: 550px;
    font-family : inherit;
}
.formss{
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    text-align: center;
    display: inline-block;

}
.form1{
    /* height: 22px; */
   margin: 6px;
   width: 380px;
   font-size: 17px;
   display: inline-block;
   border-radius: 6px;
   border: 1px solid #dddfe2;
   color: #1877f2;
   margin-top: 10px;
   font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
.form1:hover{
    border: 1px solid #1877f2;
}
.dangnhap{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    line-height: 48px;
    padding: 0 16px;
    width: 380px;
    margin: 10px;
    color: white;
    cursor: pointer;
}
#username , #password {
    padding: 10px;
}
.qmk{
    margin-top: 16px ;
}
.qmk a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}
.ltinh{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.taotk{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}
.rvfb2{
    margin-top: 20px;
    text-align: center;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-left: 20px;
}

